/* header */

body {
    color: grey;
    font-family: "Helvetica Neue";
}

.header nav {
    list-style: none;
    padding: 0;
    max-width: 1188px;
    margin: 20px auto;
}
.header nav ul {
    padding: 0;
}
.header nav li {
    display: inline;
    padding: 12px 10px 12px 10px;
    border: solid 1px white;
    /* font-weight: bold; */
    display: inline-block;
}
.header nav li:hover {
    background-color: #f5f2f2;
}
@media only screen and (max-width: 480px) {
    .header nav li {
	background-color: #f5f2f2;
	display: block;
    }
}
						  
/* body */
.body p {
    padding: 20px 0;
    max-width: 1188px;
    margin: auto;
    font-size: 1.3em;
}
.body li {
    font-size: 1.2em;
    padding: 8px 0;
}
.body img {
    width: auto;
    max-width: 100%;
    height: auto;
}
/* footer */

