/* header */

body {
    color: grey;
    font-family: "Sans-Serif";
}

.header nav {
    list-style: none;
    padding: 0;
    max-width: 1188px;
    margin: 20px auto;
}
.header nav ul {
    padding: 0;
}
.header nav li {
    display: inline;
    border: solid 1px white;
    /* font-weight: bold; */
    display: inline-block;
}
.header nav .menuItem {
    padding: 12px 10px;
}
.header nav .menuItem:hover {
    background-color: #f5f2f2;
}
@media only screen and (min-width: 680px) { /* 481px) {*/
    .header nav li + li:before {
	content: "|";
	padding: 0 10px 0 5px;
    }
}
/* s */
.header nav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
    /* .header nav ul li:not(:first-child) {display: none;} */
    .header nav ul li {display: none;}
    .header nav ul li.icon {
	/* float: left; */
	display: inline-block;
	font-size: 2em;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
    .header nav ul.responsive {
	position: relative;
    }
    .header nav ul:after {
	content: 'Art for Aleppo';
	padding: 0 20px 30px;
    }
    .header nav ul.responsive li.icon {
	position: absolute;
	right: 0;
	top: 0;
    }
    .header nav ul.responsive li {
	float: none;
	display: inline;
    }
    .header nav ul.responsive li span {
	display: block;
	text-align: left;
    }
}
/* e */

/* @media only screen and (max-width: 480px) {
    .header nav li {
	background-color: #f5f2f2;
	display: block;
    }
}*/
						  
/* body */
.body p {
    padding: 20px 0;
    max-width: 1188px;
    margin: auto;
    font-size: 1.3em;
}
.body li {
    font-size: 1.2em;
    padding: 8px 0;
}
.body img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/* donation page */

#page5 .text-box {
    margin-top: 40px;
    border: grey 1px solid;
    padding: 20px 80px;
}

/* footer */
