/* header */

.header nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 20px;
}
.header nav li {
    display: inline;
    margin: 0 40px 0 0;
}
/* body */
.body p {
    padding: 20px 50px;
    font-size: 1.2em;
}
/* footer */
